<section class="contact py-5">
  <div class="container py-5">
    <h1 class="text-center pb-5">Contact.</h1>
    <div class="row pb-3">
      <div class="col-md-10 mx-auto">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-location-arrow"></i></span>
            </div>
            <h5>Location</h5>
            <p>Salta, Argentina.</p>
          </div>
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-envelope"></i></span>
            </div>
            <h5>Email</h5>
            <p>laura.dillon.ar@gmail.com</p>
          </div>
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-phone"></i></span>
            </div>
            <h5>Phone</h5>
            <p>+54 11 30033412</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control bg-light mb-3"
                placeholder="Name"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control bg-light mb-3"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea
                name=""
                id=""
                class="form-control bg-light"
                placeholder="Message"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </div>
          <button class="btn3 my-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
