<nav class="navbar navbar-expand-lg fixed-top text-uppercase">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="./assets/img/cfc94.png" alt="ConFluencia Creativa"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active px-lg-4 rounded" aria-current="page" href="#"
          >Home</a
        >
        <a class="nav-link px-lg-4 rounded" href="#">Projects</a>
        <a class="nav-link px-lg-4 rounded" href="#">Experience</a>
        <a class="nav-link px-lg-4 rounded" href="#">Education</a>
        <a
          class="nav-link px-lg-4 rounded"
          href="https://confluenciacreativa.com"
          >Blog</a
        >
        <a class="nav-link px-lg-4 rounded" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
