<section class="about py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3">
        <img
          src="./assets/img/laura.jpg"
          data-aos="fade-right"
          data-aos-duration="2000"
          alt="Laura Dillon"
          class="float-start mb-4 me-4"
        />
        <h1 class="fw-bold">About Me.</h1>
        <p>
          <span class="fw-bold"
            >In constant search of technological tools to improve the quality of
            life.</span
          >
        </p>
        <p>
          Since I was seven years old, I have been amazed by what iI was able to
          achieve writting code on a computer. I continue to learn about new
          information technologies and I love that they solve problems and adapt
          to particular needs. I think that creativity can solve almost any
          problem.
        </p>
        <p>
          You may need a simple, commercial website, or a mobile application? No
          problem! My job is to create and make your brand stand out. It
          requires listening to you, understanding needs and doing all those
          with genuine care.
        </p>
        <p>
          To learn more about me, keep exploring my portfile. Please, feel free
          to contact me.
        </p>

        <div class="progress-block">
          <div class="progress my-1">
            <div class="pro-value1 ps-2">
              <p>HTML / CSS<span text-white float-right> 95%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value2 ps-2">
              <p>JAVASCRIPT<span text-white float-right> 80%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value3 ps-2">
              <p>BOOTSTRAP<span text-white float-right> 90%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value4 ps-2">
              <p>ANGULAR<span text-white float-right> 70%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value5 ps-2">
              <p>PHP / MySQL <span text-white float-right> 95%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value6 ps-2">
              <p>WORDPRESS <span text-white float-right> 90%</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
