<nav class="navbar navbar-expand-lg fixed-top text-uppercase">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="./assets/img/cfc94.png" alt="ConFluencia Creativa"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active px-lg-4 rounded" aria-current="page" href="#"
          >Home</a
        >
        <a class="nav-link px-lg-4 rounded" href="#">Proyects</a>
        <a class="nav-link px-lg-4 rounded" href="#">Experience</a>
        <a class="nav-link px-lg-4 rounded" href="#">Education</a>
        <a
          class="nav-link px-lg-4 rounded"
          href="https://confluenciacreativa.com"
          >Blog</a
        >
        <a class="nav-link px-lg-4 rounded" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>

<!-- main section start -->

<section class="main">
  <div class="container pt-5">
    <div class="row pt-3">
      <div class="col-lg-6 py-2 me-auto">
        <h3 data-aos="fade-left" data-aos-duration="2000">
          <span class="fw-light">Hello, I'm</span> Laura Dillon
        </h3>
        <h6 data-aos="fade-right" data-aos-duration="2000">
          Web Programmer Jr
        </h6>
      </div>
    </div>
  </div>
</section>

<section class="about py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3">
        <img
          src="./assets/img/laura.jpg"
          data-aos="fade-right"
          data-aos-duration="2000"
          alt="Laura Dillon"
          class="float-start mb-4 me-4"
        />
        <h1 class="fw-bold">About Me.</h1>
        <p>
          <span class="fw-bold"
            >In constant search of technological tools to improve the quality of
            life.</span
          >
        </p>
        <p>
          Since I was seven years old, I have been amazed by what iI was able to
          achieve writting code on a computer. I continue to learn about new
          information technologies and I love that they solve problems and adapt
          to particular needs. I think that creativity can solve almost any
          problem.
        </p>
        <p>
          You may need a simple, commercial website, or a mobile application? No
          problem! My job is to create and make your brand stand out. It
          requires listening to you, understanding needs and doing all those
          with genuine care.
        </p>
        <p>
          To learn more about me, keep exploring my portfile. Please, feel free
          to contact me.
        </p>

        <div class="progress-block">
          <div class="progress my-1">
            <div class="pro-value1 ps-2">
              <p>HTML / CSS<span text-white float-right> 95%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value2 ps-2">
              <p>JAVASCRIPT<span text-white float-right> 80%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value3 ps-2">
              <p>BOOTSTRAP<span text-white float-right> 90%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value4 ps-2">
              <p>ANGULAR<span text-white float-right> 70%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value5 ps-2">
              <p>PHP / MySQL <span text-white float-right> 95%</span></p>
            </div>
          </div>

          <div class="progress my-1">
            <div class="pro-value6 ps-2">
              <p>WORDPRESS <span text-white float-right> 90%</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services py-5 bg-light">
  <div class="container py-5">
    <h1 class="text-center pb-5">Proyects.</h1>
    <div class="row pb-3">
      <div class="col-lg-4 mb-3">
        <div
          class="card text-center py-3"
          data-aos="fade-right"
          data-aos-duration="2000"
        >
          <div class="card-body">
            <div class="circle">
              <span><i class="fab fa-js fa-lg fa-fw"></i></span>
            </div>
            <h4 class="fw-bold pb-2">JavaScript</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate dolorem pariatur eligendi facere quia blanditiis
              asperiores, repudiandae architecto amet aspernatur in totam quos
              accusantium dicta eius similique itaque beatae quaerat!
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div
          class="card text-center py-3"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <div class="card-body">
            <div class="circle">
              <span><i class="fab fa-php fa-lg fa-fw"></i></span>
            </div>
            <h4 class="fw-bold pb-2">PHP / MySql</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate dolorem pariatur eligendi facere quia blanditiis
              asperiores, repudiandae architecto amet aspernatur in totam quos
              accusantium dicta eius similique itaque beatae quaerat!
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div
          class="card text-center py-3"
          data-aos="fade-left"
          data-aos-duration="2000"
        >
          <div class="card-body">
            <div class="circle">
              <span><i class="fab fa-wordpress-simple fa-lg fa-fw"></i></span>
            </div>
            <h4 class="fw-bold pb-2">WordPress</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate dolorem pariatur eligendi facere quia blanditiis
              asperiores, repudiandae architecto amet aspernatur in totam quos
              accusantium dicta eius similique itaque beatae quaerat!
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div
          class="card text-center py-3"
          data-aos="fade-up-right"
          data-aos-duration="2000"
        >
          <div class="card-body">
            <div class="circle">
              <span class="text-center"
                ><i class="fab fa-angular fa-lg fa-fw"></i
              ></span>
            </div>
            <h4 class="fw-bold pb-2">Angular</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate dolorem pariatur eligendi facere quia blanditiis
              asperiores, repudiandae architecto amet aspernatur in totam quos
              accusantium dicta eius similique itaque beatae quaerat!
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div
          class="card text-center py-3"
          data-aos="fade-down"
          data-aos-duration="2000"
        >
          <div class="card-body">
            <div class="circle">
              <span class="fw-bold">M</span>
            </div>
            <h4 class="fw-bold pb-2">Super Mario</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate dolorem pariatur eligendi facere quia blanditiis
              asperiores, repudiandae architecto amet aspernatur in totam quos
              accusantium dicta eius similique itaque beatae quaerat!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div
          class="card text-center py-3"
          data-aos="fade-up-left"
          data-aos-duration="2000"
        >
          <div class="card-body">
            <div class="circle">
              <span><i class="fab fa-github fa-lg fa-fw"></i></span>
            </div>
            <h4 class="fw-bold pb-2">GitHub</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate dolorem pariatur eligendi facere quia blanditiis
              asperiores, repudiandae architecto amet aspernatur in totam quos
              accusantium dicta eius similique itaque beatae quaerat!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="experience py-5">
  <div class="container py-5">
    <h1 class="text-center pb-5">Experience.</h1>
    <div class="row mb-3">
      <div class="card my-3" data-aos="fade-left" data-aos-duration="2000">
        <div class="row">
          <div class="col-md-4 title">
            <div class="py-5 px-5">
              <h4 class="fw-bold pb-2">ConFluencia Creativa</h4>
              <h6>FrontEnd and BackEnd Developments</h6>
            </div>
          </div>
          <div class="col-md-8 py-5 px-5">
            <p>
              March 2020 - Present. <br />Palermo Buenos Aires, Salta,
              Argentina.
            </p>
            <p>
              My latest developments in HTML, CSS, Bootstrap, Javascript,
              Angular and Python Flask:<br /><a
                href="https://github.com/lauradillonar"
                target="blank"
                >github.com/lauradillonar</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="card my-3" data-aos="fade-right" data-aos-duration="2000">
        <div class="row">
          <div class="col-md-4 title">
            <div class="py-5 px-5">
              <h4 class="fw-bold pb-2">
                Diffusion, Statistics analysis <br />
                and SEO
              </h4>
              <h6>Frecuencia Azul Radio</h6>
            </div>
          </div>
          <div class="col-md-8 py-5 px-5">
            <p>
              July 2017 - April 2020 <br />
              Palermo Buenos Aires, Argentina.
            </p>
            <p>
              <a href="https://twitter.com/lauradillonar" target="blank"
                >twitter.com/lauradillonar</a
              ><br />
              <a href="https://facebook.com/fazulradio" target="blank"
                >facebook.com/fazulradio</a
              ><br />
              <a href="https://bit.ly/grupoPictos" target="blank"
                >bit.ly/grupoPictos</a
              >
              #Autism #Asperger #SAAC #VisualCommunication #Pictograms
            </p>
          </div>
        </div>
      </div>
      <div class="card my-3" data-aos="fade-left" data-aos-duration="2000">
        <div class="row">
          <div class="col-md-4 title">
            <div class="py-5 px-5">
              <h4 class="fw-bold pb-2">
                Mathematics tutor<br />for children and teenagers
              </h4>
              <h6>We study at home</h6>
            </div>
          </div>
          <div class="col-md-8 py-5 px-5">
            <p>
              January 1998 - September 2012. <br />Salta, Córdoba, Mendoza,
              Palermo Buenos Aires, City Bell La Plata.
            </p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="card my-3" data-aos="fade-right" data-aos-duration="2000">
        <div class="row">
          <div class="col-md-4 title">
            <div class="py-5 px-5">
              <h4 class="fw-bold pb-2">
                Secretary of Institutional Evaluation
              </h4>
              <h6>Escuela Superior Nacional Nautica</h6>
            </div>
          </div>
          <div class="col-md-8 py-5 px-5">
            <p>March 2005 - March 2006. <br />Buenos Aires, Argentina.</p>
            <p>
              We obtain the CONEAU certification for the ESNN by integrating the
              Institutional Self-Evaluation team with the MNS Guillermo
              Nassello, Ph.D. Psychology Paladino, Lic. Horacio Cappiello from
              UBA and members of the ESNN.
            </p>
          </div>
        </div>
      </div>
      <div class="card my-3" data-aos="fade-left" data-aos-duration="2000">
        <div class="row">
          <div class="col-md-4 title">
            <div class="py-5 px-5">
              <h4 class="fw-bold pb-2">
                Migration to Linux of Fac.Cs.Naturales
              </h4>
              <h6>
                Universidad Nacional Salta <br />
                Technical Secretariat
              </h6>
            </div>
          </div>
          <div class="col-md-8 py-5 px-5">
            <p>
              January - April 2002. <br />
              Salta, Argentina.
            </p>
            <p>
              Linux training coordinator at the Rector's office and
              Faculties.<br />Linux Installation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="education py-5 bg-light">
  <div class="container py-5">
    <h1 class="text-center pb-5">Education.</h1>
    <div class="row pb-3">
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-down" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">English for software development</h4>
            <h6 class="fw-bold">March - April 2022</h6>
            <p class="pt-3">Ministerio de Desarrollo Productivo, Argentina.</p>
            <ul>
              <li>Specific Vocabulary: IT</li>
              <li>Present Simple. Adverbs of Frequency.</li>
              <li>Programming. Languages. Terms used in programming.</li>
              <li>
                Present Continuous. Spelling rules. Business English. Structural
                organization of a company.
              </li>
              <li>Simple past. Preparation of professional profile.</li>
            </ul>
            <p>
              <a
                href="https://www.argentina.gob.ar/ingles-para-desarrollo-de-software"
                target="_blank"
                rel="noopener noreferrer"
                ><br />Read more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-up" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">Argentina Programa #YoProgramo</h4>
            <h6 class="fw-bold">Second phase <br />November 2021 - May 2022</h6>
            <p class="pt-3">
              Ministerio de Desarrollo Productivo, Argentina. <br />
            </p>
            <ul>
              <li>Introduction to web development and applications</li>
              <li>Static Front End development</li>
              <li>Dynamic Front End development</li>
              <li>Database</li>
              <li>OOP good programming practices</li>
              <li>Java web programming</li>
              <li>Backend with Spring Boot</li>
              <li>DevOps</li>
            </ul>
            <p>
              <a
                href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
                target="_blank"
                rel="noopener noreferrer"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-down" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">Argentina Programa #SeProgramar</h4>
            <h6 class="fw-bold">First phase<br />August - October 2021</h6>
            <p class="pt-3">
              Ministerio de Desarrollo Productivo, Argentina. <br />
              Credential ID: RWGNivzgYUiwmBCT
            </p>
            <p>
              <a
                href="https://mumuki.io/argentina-programa/certificates/verify/RWGNivzgYUiwmBCT"
                target="_blank"
                rel="noopener noreferrer"
                >Show Credential</a
              >
            </p>
            <ul>
              <li>Programming Basics</li>
              <li>Imperative Programming with JavaScript</li>
              <li>Object Oriented Programming with Ruby</li>
            </ul>
            <p>
              <a
                href="https://www.argentina.gob.ar/produccion/argentina-programa/primera-etapa"
                target="_blank"
                rel="noopener noreferrer"
                ><br />Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-down" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">Introduction to programming with Python</h4>
            <h6 class="fw-bold">2021</h6>
            <p class="pt-3">Course organized by ITgrarte for Endava</p>
            <p>
              <a
                href="https://www.itgrarte.org/capacitacion/introduccion-a-la-programacion-en-python/"
                target="_blank"
                rel="noopener noreferrer"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-up" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">
              Mathematics Teachers and Bachelor's Degree of Systems
            </h4>
            <h6 class="fw-bold">March 1998 - July 2002</h6>
            <p class="pt-3">
              Universidad Nacional de Salta<br />Salta, Argentina.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-down" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">Bachelor with pedagogical orientation</h4>
            <h6 class="fw-bold">March 1991 - December 1995</h6>
            <p class="pt-3">
              Instituto Privado Santa María<br />Posadas, Misiones, Argentina.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact py-5">
  <div class="container py-5">
    <h1 class="text-center pb-5">Contact.</h1>
    <div class="row pb-3">
      <div class="col-md-10 mx-auto">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-location-arrow"></i></span>
            </div>
            <h5>Location</h5>
            <p>Salta, Argentina.</p>
          </div>
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-envelope"></i></span>
            </div>
            <h5>Email</h5>
            <p>laura.dillon.ar@gmail.com</p>
          </div>
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-phone"></i></span>
            </div>
            <h5>Phone</h5>
            <p>+54 11 30033412</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control bg-light mb-3"
                placeholder="Name"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control bg-light mb-3"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea
                name=""
                id=""
                class="form-control bg-light"
                placeholder="Message"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </div>
          <button class="btn3 my-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="py-5 text-center">
  <p>Copy Right 2022 By ConFluenciaCreativa</p>
</footer>
