<section class="education py-5 bg-light">
  <div class="container py-5">
    <h1 class="text-center pb-5">Education.</h1>
    <div class="row pb-3">
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-down" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">English for software development</h4>
            <h6 class="fw-bold">March - April 2022</h6>
            <p class="pt-3">Ministerio de Desarrollo Productivo, Argentina.</p>
            <ul>
              <li>Specific Vocabulary: IT</li>
              <li>Present Simple. Adverbs of Frequency.</li>
              <li>Programming. Languages. Terms used in programming.</li>
              <li>
                Present Continuous. Spelling rules. Business English. Structural
                organization of a company.
              </li>
              <li>Simple past. Preparation of professional profile.</li>
            </ul>
            <p>
              <a
                href="https://www.argentina.gob.ar/ingles-para-desarrollo-de-software"
                target="_blank"
                rel="noopener noreferrer"
                ><br />Read more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-up" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">Argentina Programa #YoProgramo</h4>
            <h6 class="fw-bold">Second phase <br />November 2021 - May 2022</h6>
            <p class="pt-3">
              Ministerio de Desarrollo Productivo, Argentina. <br />
            </p>
            <ul>
              <li>Introduction to web development and applications</li>
              <li>Static Front End development</li>
              <li>Dynamic Front End development</li>
              <li>Database</li>
              <li>OOP good programming practices</li>
              <li>Java web programming</li>
              <li>Backend with Spring Boot</li>
              <li>DevOps</li>
            </ul>
            <p>
              <a
                href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
                target="_blank"
                rel="noopener noreferrer"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-down" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">Argentina Programa #SeProgramar</h4>
            <h6 class="fw-bold">First phase<br />August - October 2021</h6>
            <p class="pt-3">
              Ministerio de Desarrollo Productivo, Argentina. <br />
              Credential ID: RWGNivzgYUiwmBCT
            </p>
            <p>
              <a
                href="https://mumuki.io/argentina-programa/certificates/verify/RWGNivzgYUiwmBCT"
                target="_blank"
                rel="noopener noreferrer"
                >Show Credential</a
              >
            </p>
            <ul>
              <li>Programming Basics</li>
              <li>Imperative Programming with JavaScript</li>
              <li>Object Oriented Programming with Ruby</li>
            </ul>
            <p>
              <a
                href="https://www.argentina.gob.ar/produccion/argentina-programa/primera-etapa"
                target="_blank"
                rel="noopener noreferrer"
                ><br />Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-down" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">Introduction to programming with Python</h4>
            <h6 class="fw-bold">2021</h6>
            <p class="pt-3">Course organized by ITgrarte for Endava</p>
            <p>
              <a
                href="https://www.itgrarte.org/capacitacion/introduccion-a-la-programacion-en-python/"
                target="_blank"
                rel="noopener noreferrer"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-up" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">
              Mathematics Teachers and Bachelor's Degree of Systems
            </h4>
            <h6 class="fw-bold">March 1998 - July 2002</h6>
            <p class="pt-3">
              Universidad Nacional de Salta<br />Salta, Argentina.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-2" data-aos="fade-down" data-aos-duration="2000">
          <div class="title-ed py-5 px-5">
            <h4 class="fw-bold">Bachelor with pedagogical orientation</h4>
            <h6 class="fw-bold">March 1991 - December 1995</h6>
            <p class="pt-3">
              Instituto Privado Santa María<br />Posadas, Misiones, Argentina.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
