*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

@font-face
{
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito-Regular.ttf");
}

body{
    font-family: "Nunito",sans-serif;
    font-size: 14px;
}

h1{
    font-size: 1.7rem;
    font-weight: 900;
    color: #b89462;
}

p{
    color: #b89462;
}

